{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block topBody %}
    <h1>DASHBOARD</h1>
{% endblock %}

{% block body %}
    <p>keine ahnung was ich nun damit anfangen soll xD</p>
{% endblock %}